@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bentham&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


h1,
h2,
h3 {
  color: #000;
  font-family: Bentham;
  font-weight: 400;
  line-height: 1.2em;
  /* 104% */
  letter-spacing: 2px;
}

h2 {
  color: #ED1C24;
  font-family: Bentham;
}

@media (max-width: 812px) {

  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
  }
}

p {
  color: #171717;
  font-family: Bentham;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

body {
  margin-top: 0;
}

section {
  margin-bottom: 50px;
}

@media (max-width: 812px) {
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/*--- Image hover Effects
-----------------------------------------------*/
.image-zoom-effect {
  overflow: hidden;
}

.image-zoom-effect .image-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
  transform: scale(0.95);
}

.image-zoom-effect img {
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.image-zoom-effect:hover img {
  transform: scale(1.1);
}




/* Nav bar */


/* * Desktop Navigation  */

.navbar {
  background: #000000ef;
  box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}


.navbar .img1 {
  width: 80px;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #ffffff !important;
  border-bottom: 3px solid transparent;
}

.navbar a,
.navbar a:focus {
  color: #FFF;
  font-family: AmstelvarAlpha;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  transition: linear .5s;
  padding-right: 10px;
  /* padding: 10px 0 10px 30px */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #ffffff;
  font-weight: 500;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar .nav-item:hover {
  border-bottom: 3px solid #ED1C24;
}

/* .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar:hover>a {
  color: #ffffff;
}  */
.navbar-expand-lg .navbar-nav {
  position: relative;
  display: flex;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: 30%;
  top: 10%;
  transition: linear .2s;
}

.navbar-nav .dropdown-menu {
  padding: 20px 20px 10px 20px;
  display: none;
  position: absolute;
}

.navbar-expand-lg .navbar-nav:hover .dropdown-menu {
  display: block;
  left: 30%;
  margin-top: 5%;
}

.navbar span {
  color: #FFF;
  border-radius: 50px;
  padding-left: 20px;
  cursor: pointer;
  font-size: 30px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 50px;
  top: 10%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;

}

.overlay .closebtn:hover {
  color: #FFF;
}

.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (max-width: 812px) {
  .navbar span {
    display: none;
  }
  .navbar img {
    width: 180px;
  }

  .navbar .img1 {
    width: 50px;
  }

  .navbar {
    text-align: center;
  }

  .navbar .logo a {
    margin: 0;
    padding: 0;
  }

  .navbar .button-container {
    margin: 10px;
  }
}

/*---------------------------------------------- 
 Inner Tab Content */

.overlay-index .tab-content {
  background-color: #00000000;
}

.overlay-index nav {
  margin-top: 50px;
}

/* .overlay-index:hover {} */

.overlay-index h1 {
  color: #ffffff;
  font-size: 60px;
}

.overlay-index .nav.nav-pills {
  position: inherit;
  transition: transform 1s ease-in-out;
}

.overlay .nav-pills .nav-link {
  color: #ffffff;
  text-align: left;
  font-family: Bentham;
  font-size: 25px;
}

.overlay .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #00000000;
  color: #e02626;
}

.overlay .nav-pills .nav-link.active {
  border-bottom: 1px solid #e02626;
}

.overlay .nav-pills .nav-link:hover {
  margin-top: 5px;
  color: #e02626;
}

.overlay-index .tab-content img {
  max-width: 100%;
  min-width: 100%;
  width: auto;
  animation: mymove .5s linear;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes mymove {
  from {
    top: 50px;
  }

  to {
    top: 0px;
  }
}

.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(0deg, #ED3237 0%, rgba(237, 50, 55, 0.15) 46.34%, rgba(237, 50, 55, 0.00) 100%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  text-align: center;
  top: 0;
}



/* .mask1 {
  -webkit-mask-image: url(assets/svg/banner-bg-01.svg);
  mask-image: url('assets/svg/banner-bg-02.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
} */

/* ======= Banner Section ======= */

/* .banner {
  -webkit-mask-image: url(assets/svg/ba);
  mask-image: url(w3logo.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
} */

.banner {
  top: 0;
}

.banner svg {
  position: relative;
  bottom: 200px;
  z-index: 999;
}

@media screen and (max-width: 1100px) {
  .banner svg {
    bottom: 140px;
  }
}

.mian-logo>span {
  font-size: 1.35em;
}

.main-header {
  z-index: 999;
}

hr.border-light {
  max-width: 100%;
  opacity: 0.9;
  animation: autowidth 3.5s 1;
}

@keyframes autowidth {
  0% {
    width: 0%;
    opacity: 1;
  }


  100% {
    width: 100%;
    opacity: 1;
  }
}

.carousel-item {
  transition: transform 1s ease-in-out;
  height: 80vh;
}

.carousel-item .btn {
  border-radius: 50px;
  background: #171717;
  width: 209px;
  height: 50px;
  flex-shrink: 0;
  color: #ffffff;
}

.carousel-caption {
  top: 30%;
  transform: translate(0, -50%);
  bottom: auto;
  left: 1%0;
  right: 0;
  width: 500px;
  opacity: 0;
  overflow: hidden;
  text-align: left;
  border-radius: 20px;
}

.carousel-caption {
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.01) 0%, rgba(104, 104, 104, 0.02) 100%);
  backdrop-filter: blur(20px);
}


.carousel-item.active .carousel-caption {
  animation: widthSlide 3.5s 1;
  opacity: 1;
  z-index: 999;
  width: 50%;
}

@keyframes widthSlide {
  0% {
    width: 0%;
    opacity: 0;
  }


  100% {
    width: 50%;
    opacity: 1;
  }
}

.carousel-caption h5 {
  font-size: 4em;
  /* -webkit-text-stroke: 2px #E2FADB; */
  color: #FFF;
  font-family: Bentham;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  position: relative;
  width: fit-content;
  padding-right: 10px;
}

.carousel-caption h4 {
  color: #ED1C24;
  font-family: Bentham;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.2px;
}

@media screen and (max-width: 956px) {
  .carousel-inner {
    height: 50vh;
  }

  .carousel-caption h5 {
    font-size: 5em;
  }

  .carousel-caption h4 {
    font-size: 4em;

  }

}

@media screen and (max-width: 1100px) {
  .carousel-item.active .carousel-caption {
    width: 70%;
  }

  @keyframes widthSlide {
    0% {
      width: 0%;
      opacity: 0;
    }


    100% {
      width: 30%;
      opacity: 1;
    }
  }
}


.carousel-caption h5:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  bottom: -20px;
  opacity: 1;
}

.carousel-item.active .carousel-caption h5:after {
  width: 10%;
  height: 4px;
  animation: titleCover 2.5s 1;
  opacity: 0;
}

@keyframes titleCover {
  0% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  20% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  30% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  55% {
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    opacity: 1;
  }

  95% {
    left: 0;
    right: 0;
    width: 10%;
  }

  100% {
    left: 0;
    right: 0;
    width: 10%;
    opacity: 0.5;
  }
}

.carousel-item>img {
  height: 80vh;
  object-fit: cover;
  transform: scale(1);
}

.carousel-item.active>img {
  transform: scale(4);
  animation: bgScale 200s 1;
}

@keyframes bgScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}

.carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 99;
}

.carousel-caption p {
  font-size: 1.35em;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-caption * {
  white-space: nowrap;
}

.carousel-indicators {
  right: 10px;
  left: auto;
  margin: 0;
  width: 25px;
  flex-wrap: wrap;
  bottom: auto;
  top: 45%;
  transform: translate(0, -50%);
  gap: 10px;
  z-index: 9999;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  border: none;
}

li.nav-item>a:after {
  content: '';
  position: absolute;
  height: 3px;
  background: white;
  left: 0;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  width: 85%;
  transition: 0.3s all ease-in-out;
}

li.nav-item>a.active:after,
li.nav-item>a:hover:after {
  bottom: 0;
  opacity: 0.8;
}

li.nav-item>a {
  position: relative;
}


@media screen and (max-width: 991px) {
  .carousel-caption h5 {
    font-size: 3.5em;
  }

  .carousel-caption p {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 3.5em;
  }

  .carousel-caption p {
    font-size: 1em;
    font-weight: 600;
  }

  .carousel-item img {
    height: 80vh;
  }

  .mian-logo>span {
    font-size: 1em;
  }

  .carousel-indicators {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    flex-wrap: nowrap;
    top: auto;
    transform: unset;
    width: auto;
    gap: 5px;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 575px) {
  .carousel-caption h5 {
    font-size: 2em;
  }

  .carousel-item img {
    height: 60vh;
  }

  .carousel-caption p {
    font-size: 0.75em;
  }

  .carousel-caption {
    width: 100%;
    opacity: 0;
  }

  .carousel-item.active .carousel-caption {
    animation: sample 2.5s 1;
    opacity: 1;
  }

  .carousel-caption * {
    white-space: unset;
  }

  @keyframes sample {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  .carousel-caption h5 {
    -webkit-text-stroke: 1px #E2FADB;
  }

  hr.border-light {
    max-width: 200px;
    animation: sample 2.5s 1;
  }
}

@media screen and (max-width: 480px) {
  .carousel-caption h5 {
    font-size: 1.45em;
  }

  .carousel-caption p {
    font-size: 0.7em;
  }

  .carousel-item img {
    height: 50vh;
  }
}

/* Hero Section */

/*---------------------------------------------- 
Hero Section======= */

#hero {
  margin-top: -259px;
}

.hero {
  max-width: 100%;
  height: 80vh;
  display: flex;
}

@media (max-width: 1400px) {
  .hero {
    height: 50vh;
  }
}

.hero-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  color: #000000;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}

.hero-mobile {
  display: none;
}

.hero .hero-index {
  position: absolute;
}

.hero-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.hero .hero-item {
  padding-left: 50px;
}

.hero img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1400px) {
  .hero img {
    max-width: 35%;
    height: auto;
  }
}

.hero .hero-item .img-2 {
  padding-top: 100px;
}

.hero .hero-item-info {
  margin-top: -70px;
}

.hero .img-4 {
  margin-top: -68px;
}

.hero p {
  text-align: justify;
}

@media (max-width: 812px) {
  .hero-colum {
    display: none;
  }

  .hero-col {
    display: block;

  }

  .hero-mobile {
    display: block;
    margin: 30px auto;
    padding: 20px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero {
    margin: 0;
    height: 40vh;
  }

  .hero-index {
    display: none;
  }

  .hero .hero-mobile {
    display: block;
    margin-top: 50px;
  }
}

/*---------------------------------------------- 
Service Section ======= */

/* .service {} */
#service {
  margin-bottom: 0;
}

.service .service-index {
  text-align: center;
}

.service .service-index span {
  color: #ED1C24;
}

.service-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60vh;
  background-color: #000000;
  margin-top: 50px;
}

.service-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-service-item {
  display: none;
}

.responsive-index {
  border-radius: 20px;
  margin: 10px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
}
.responsive-index {

}

.responsive-item {
  padding: 30px;
}

@media screen and (max-width: 956px) {
  #service {
    margin-top: 150px;
  }

  .service-item {
    display: none;
  }

  .responsive-service-item {
    display: block;
  }
}

.nav.nav-pills {
  position: absolute;
  bottom: 5%;
  /* width: 60%; */
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;

}

.tab-content {
  order: 1;
  /* background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.65) 100%); */
}

.tab-content img::after {
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.00) 0%, #0F0F0F 69.79%);
}

.service-item .nav-pills li {
  margin: 10px;
}

.service-item .nav-pills .nav-link {
  background-color: #fff;
  border-radius: 50px;
  color: #000;

  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 120% */
  letter-spacing: 0.6px;
  width: 220px;
  height: 70px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #f50000;
  color: #fff;
}

.service-item .nav-pills .nav-link button {
  text-align: center;
}

.tab-item {
  position: relative;
}

.tab-content .tab-item img {
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.00) 0%, #0F0F0F 69.79%);
}

.tab-item-index {
  position: absolute;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: left;
  transition: linear .3s;
}

@media (max-width: 1400px) {
  .tab-item-index {
    left: 40%;
    width: 500px;
  }
}

@media (max-width: 1700px) {
  .tab-item-index {
    left: 30%;
    top: 80%;
    width: 500px;
  }
}

@media (max-width: 1800px) {
  .tab-item-index {
    left: 30%;
    top: 50%;
    width: 500px;
  }
}

.tab-item-index h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  /* 44% */
  letter-spacing: 2px;
}

.tab-item-index p {
  color: #ffffff;
}

/*---------------------------------------------- 
 Video Section */

.visual {
  position: relative;
}

.wrapper {
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  left: 46%;
  top: 36%;
}

.wrapper .circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #3c3;
  margin: auto;
  transform: scale(1, 1);
}

.wrapper .circle.pulse {
  animation-timing-function: ease;
  animation: pulse 2s infinite;
  background-color: #99e699;
}

.wrapper svg {
  fill: #279b27;
  stroke: #279b27;
  stroke-linejoin: round;
  stroke-width: 5;
  transition: all 0.3s;
}

.wrapper svg:hover {
  cursor: pointer;
  fill: #228722;
  stroke: #228722;
  transform: scale(1.2, 1.2);
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}


/* Second youtube Video */

/* #videoPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#videoPlayer {
  width: 100%;
  height: auto;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
} */

/* .popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/*---------------------------------------------- 
Number count */

.number-count {
  background: #ED1C24;
  color: #FFF;
  font-family: Bentham;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

.counter-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

/*------------------------------------------------ Who we are */

.about-more {
  padding-top: 40px;
}

.about-more img {
  border-radius: 20px;
}

.about-banner {
  position: relative;
}


.about-banner-item {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.about-banner-item h1 {
  color: #ffffff;
  font-size: 100px;
}

.btn-text {
  display: block;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  color: #ffffff;
}

.btn-text::after {
  content: "";
  position: absolute;
  bottom: -0.01em;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0.3) 50%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-text:hover::after {
  background-position: 0% 50%;
}

.about-banner-item {
  position: absolute;
  bottom: 0;
  width: 788px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.01) 0%, rgba(104, 104, 104, 0.02) 100%);
  backdrop-filter: blur(20px);
}

/* About More */

.about-hero-index {
  margin: 0;
}

.about-hero-content-one {
  background-image: url('../img/banner/aboutbg01.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.about-hero-content-two {
  background-image: url('../img/banner/aboutbg02.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.about-hero-content-three {
  background-image: url('../img/banner/aboutbg03.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}


.about-hero-content-one .content {
  width: 600px;
  display: grid;
}

.about-hero-content-two .content {
  width: 600px;
  display: grid;
}

.about-hero-content-three .content {
  width: 600px;
  display: grid;
}

/*------------------------------------------------ portfolio slider */

#portfolio {
  padding-top: 40px;
  margin-bottom: 0;
}

.slider {
  height: 50vh;
}

.portfolio .slider li {
  margin: 10px;
}

.portfolio .slider .slider-inner {
  width: 328px;
  height: 380px;
  border-radius: 20px;
  margin: 30px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
}

.portfolio .slider-2 .slider-inner {
  width: 328px;
  height: 380px;
  border-radius: 20px;
  background: #FFF;
}

.portfolio-slider .slider .slick-prev {
  display: none !important;
}

.portfolio-slider .slider .slick-next {
  display: none !important;
}

.portfolio-slider .slider-2 .slick-prev {
  display: none !important;
}

.portfolio-slider .slider-2 .slick-next {
  display: none !important;
}

.slider-inner img {
  border-radius: 20px;
}

@media (max-width: 1700px) {
  .slider-inner img {
    width: 250px;
  }
}

/* portfolio page style */

/* Portfolio Section
--------------------------------*/
#portfolio {
  padding: 60px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  font-size: 22px;
  color: #fff;
  line-height: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #007bff;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #007bff;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(40, 61, 80, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*------------------------------------------------ 
Contact Section */

.contact {
  position: relative;
  text-align: center;
  color: white;
}

.contact-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.contact-hero .form {
  margin: 20px;
}

/* .form {
  display: flex;
  align-items: center;
} */

form .form-group {
  margin-top: 30px;
}

form .form-group .form-control {
  background-color: #EEE;
  border-radius: 20px;
  border: none;
}

form .btn {
  margin-top: 30px;
  background-color: #000;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: #ffffff;
}


/*------------------------------------------------ product Page  */

#prdouct {
  margin-top: 100px;
}

.product-content img {
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  min-width: 100%;
}

.product-content {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 11px 23.6px 0px rgba(0, 0, 0, 0.10);
}

/* .product-content img:hover {} */

.product-content h3 {
  text-align: center;
  padding: 10px 20px 20px 20px;
}

.product-content a {
  text-decoration: none;
}

.product-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  height: 50px;
  width: 100%;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  transition: linear .2s;
}

.product-btn:hover {
  background-color: #ED1C24;
}

.product-btn i {
  font-size: 20px;
}


.services .demo {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  transition: linear .2s;
  border-radius: 10px;
}

.services .demo:hover {
  margin: -2px;
}



/* Product Sub page */

/* .product-slider {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  transition: all .2s ease-in-out;
  animation: slide 10s infinite;
  border-radius: 20px;
}

.product-overlay {
  color: #fff;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.137);
  transition: all .1s ease-in-out;
  border-radius: 20px;
}



@keyframes slide {
  0% {
    opacity: 0;
    background-image: url('../img/product/product-1-1.png');
  }

  20% {
    opacity: 100;
    background-image: url('../img/product/product-1-1.png');
  }

  25% {
    opacity: 0;
    background-image: url('../img/product/product-1-1.png');
  }

  25.1% {
    opacity: 0;
    background-image: url('../img/product/product-1-2.png');
  }

  45% {
    opacity: 100;
    background-image: url('../img/product/product-1-2.png');
  }

  50% {
    opacity: 0;
    background-image: url('../img/product/product-1-2.png');
  }

  50.01% {
    opacity: 0;
    background-image: url('../img/product/product-1-3.png');
  }

  70% {
    opacity: 100;
    background-image: url('../img/product/product-1-3.png');
  }

  75% {
    opacity: 0;
    background-image: url('../img/product/product-1-3.png');
  }

  75.01% {
    opacity: 0;
    background-image: url('../img/product/product-1-4.png');
  }

  95% {
    opacity: 100;
    background-image: url('../img/product/product-1-4.png');
  }

  100% {
    opacity: 0;
    background-image: url('../img/product/product-1-4.png');
  }
}
 */

/*------------------------------------------------ Facility Page  */

.Facility-content .row {
  padding-left: 0;
}

.Facility-index {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  margin: 20px;
  padding: px;
}

/*------------------------------------------------- Footer  */

.footer {
  padding: 40px;
  background-color: #000000;
  color: #ffffff;
}

footer section {
  margin: 0;
}

footer .nav-link {
  color: #ffffff;
}

footer .nav-link:hover {
  color: #ED1C24;
}

footer p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.48px;
  display: flex;
}

footer p i {
  color: #ffffff;
}

footer .footer-p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.48px;
}




@media (max-width: 980px) {
  footer .footer p {
    display: flex;
    justify-content: center;
  }
}











/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#spinner img {
  width: 60px;
}

#spinner .spinner-border {
  color: #F58220;
}

.spinner {
  background-color: #000000;
}

/*-----*/