@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bentham&display=swap');

h1,
h2,
h3 {
  color: #000;
  font-family: Bentham;
  font-weight: 400;
  line-height: 1.2em;
  /* 104% */
  letter-spacing: 2px;
}

h2 {
  color: #ED1C24;
  font-family: Bentham;
}

@media (max-width: 812px) {

  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
  }
}

p {
  color: #171717;
  font-family: Bentham;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

body {
  margin-top: 0;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 812px) {
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/*--- Image hover Effects
-----------------------------------------------*/
.image-zoom-effect {
  overflow: hidden;
}

.image-zoom-effect .image-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
  transform: scale(0.95);
}

.image-zoom-effect img {
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.image-zoom-effect:hover img {
  transform: scale(1.1);
}




/* Nav bar */


/* * Desktop Navigation  */

.navbar {
  background: #000000ef;
  box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
}


.navbar .img1 {
  width: 80px;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #ffffff !important;
  border-bottom: 3px solid transparent;
}

.navbar a,
.navbar a:focus {
  color: #FFF;
  font-family: AmstelvarAlpha;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  transition: linear .5s;
  padding-right: 10px;
  /* padding: 10px 0 10px 30px */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #ffffff;
  font-weight: 500;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.navbar .nav-item:hover {
  border-bottom: 3px solid #ED1C24;
}

/* .navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar:hover>a {
  color: #ffffff;
}  */

.navbar span {
  color: #FFF;
  border-radius: 50px;
  padding-left: 20px;
  cursor: pointer;
  font-size: 30px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;

}

.overlay .closebtn:hover {
  color: #FFF;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (max-width: 812px) {
  .navbar img {
    width: 180px;
  }

  .navbar .img1 {
    width: 50px;
  }

  .navbar {
    text-align: center;
  }

  .navbar .logo a {
    margin: 0;
    padding: 0;
  }

  .navbar .button-container {
    margin: 10px;
  }
}



/* .mask1 {
  -webkit-mask-image: url(assets/svg/banner-bg-01.svg);
  mask-image: url('assets/svg/banner-bg-02.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
} */

/* ======= Banner Section ======= */

/* .banner {
  -webkit-mask-image: url(assets/svg/ba);
  mask-image: url(w3logo.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
} */
.banner {
  top: 0;
}


.mian-logo>span {
  font-size: 1.35em;
}

.main-header {
  z-index: 999;
}

hr.border-light {
  max-width: 300px;
  opacity: 0.9;
}

.carousel-item {
  transition: transform 1s ease-in-out;
}

.carousel-caption {
  top: 48%;
  transform: translate(0, -50%);
  bottom: auto;
  left: 0;
  right: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  text-align: left;
}

.carousel-item.active .carousel-caption {
  animation: widthSlide 3.5s 1;
  opacity: 1;
  z-index: 999;
  width: 100%;
}

@keyframes widthSlide {
  0% {
    width: 0%;
    opacity: 0;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.carousel-caption h5 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px #E2FADB;
  color: #00000059;
  position: relative;
  width: fit-content;
  padding-right: 10px;
}

.carousel-caption h5:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  bottom: -20px;
  opacity: 1;
}

.carousel-item.active .carousel-caption h5:after {
  width: 10%;
  height: 4px;
  animation: titleCover 2.5s 1;
  opacity: 0;
}

@keyframes titleCover {
  0% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  20% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  30% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  55% {
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    opacity: 1;
  }

  95% {
    left: 0;
    right: 0;
    width: 10%;
  }

  100% {
    left: 0;
    right: 0;
    width: 10%;
    opacity: 0.5;
  }
}

.carousel-item>img {
  height: 100vh;
  object-fit: cover;
  transform: scale(1);
}

.carousel-item.active>img {
  transform: scale(4);
  animation: bgScale 200s 1;
}

@keyframes bgScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}

.carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 99;
}

.carousel-caption p {
  font-size: 1.35em;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-caption * {
  white-space: nowrap;
}

.carousel-indicators {
  right: 10px;
  left: auto;
  margin: 0;
  width: 25px;
  flex-wrap: wrap;
  bottom: auto;
  top: 45%;
  transform: translate(0, -50%);
  gap: 10px;
  z-index: 9999;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  border: none;
}

li.nav-item>a:after {
  content: '';
  position: absolute;
  height: 3px;
  background: white;
  left: 0;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  width: 85%;
  transition: 0.3s all ease-in-out;
}

li.nav-item>a.active:after,
li.nav-item>a:hover:after {
  bottom: 0;
  opacity: 0.8;
}

li.nav-item>a {
  position: relative;
}


@media screen and (max-width: 991px) {
  .carousel-caption h5 {
    font-size: 3.5em;
  }

  .carousel-caption p {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 3.5em;
  }

  .carousel-caption p {
    font-size: 1em;
    font-weight: 600;
  }

  .carousel-item img {
    height: 80vh;
  }

  .mian-logo>span {
    font-size: 1em;
  }

  .carousel-indicators {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    flex-wrap: nowrap;
    top: auto;
    transform: unset;
    width: auto;
    gap: 5px;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 575px) {
  .carousel-caption h5 {
    font-size: 2em;
  }

  .carousel-item img {
    height: 60vh;
  }

  .carousel-caption p {
    font-size: 0.75em;
  }

  .carousel-caption {
    width: 100%;
    opacity: 0;
  }

  .carousel-item.active .carousel-caption {
    animation: sample 2.5s 1;
    opacity: 1;
  }

  .carousel-caption * {
    white-space: unset;
  }

  @keyframes sample {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  .carousel-caption h5 {
    -webkit-text-stroke: 1px #E2FADB;
  }

  hr.border-light {
    max-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-caption h5 {
    font-size: 1.45em;
  }

  .carousel-caption p {
    font-size: 0.7em;
  }

  .carousel-item img {
    height: 50vh;
  }
}

/* Hero Section */

/*---------------------------------------------- 
Hero Section======= */

.hero {
  margin: 80px;
  max-width: 100%;
  height: 80vh;
  display: flex;
}

.hero-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  color: #000000;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}

.hero-mobile {
  display: none;
}

.hero .hero-index {
  position: absolute;
}

.hero-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.hero .hero-item {
  padding-left: 50px;
}

.hero .hero-item .img-2 {
  padding-top: 100px;
}

.hero .hero-item-info {
  margin-top: -70px;
}

.hero .hero-item-info .img-4 {
  padding-top: 75px;
}

.hero p {
  text-align: justify;
}

@media (max-width: 812px) {
  .hero-colum {
    display: none;
  }

  .hero-col {
    display: block;

  }

  .hero-mobile {
    display: block;
    margin: 30px auto;
    padding: 20px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero {
    margin: 0;
    height: 40vh;
  }

  .hero-index {
    display: none;
  }

  .hero .hero-mobile {
    display: block;
    margin-top: 50px;
  }
}

/*---------------------------------------------- 
Service Section ======= */

/* .service {} */
#service {
  margin-bottom: 0;
}

.service .service-index {
  text-align: center;
}

.service .service-index span {
  color: #ED1C24;
}

.service-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.service-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav.nav-pills {
  position: absolute;
  bottom: 0;
  width: 60%;
  z-index: 1;
  text-align: center;
  margin: auto;

}

.tab-content {
  order: 1;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.65) 100%);
}

.service-item .nav-pills li {
  margin: 10px;
}

.service-item .nav-pills .nav-link {
  background-color: #fff;
  border-radius: 50px;
  color: #000;
}

.service-item .nav-pills .nav-link button {
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 120% */
  letter-spacing: 0.6px;
}

.tab-item {
  position: relative;
}

.tab-content .tab-item img {
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.00) 0%, #0F0F0F 69.79%);
}

.tab-item-index {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: left;
}

.tab-item-index h1 {
  color: #ffffff;
}

.tab-item-index p {
  color: #ffffff;
}

/*---------------------------------------------- 
 Video Section */

.visual .video iframe {
  width: 100%;
  height: 80vh;
}

/*---------------------------------------------- 
Number count */

.number-count {
  background: #ED1C24;
  color: #FFF;
  font-family: Bentham;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

.counter-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

/*------------------------------------------------ Who we are */

.about-more {
  padding-top: 40px;
}

.about-more img {
  border-radius: 20px;
}

.about-banner {
  position: relative;
}

.about-banner-item {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.about-banner-item h1 {
  color: #ffffff;
  font-size: 100px;
}

.btn-text {
  display: block;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  color: #ffffff;
}

.btn-text::after {
  content: "";
  position: absolute;
  bottom: -0.01em;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0.3) 50%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-text:hover::after {
  background-position: 0% 50%;
}

.about-banner-item {
  position: absolute;
  bottom: 0;
  width: 788px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.01) 0%, rgba(104, 104, 104, 0.02) 100%);
  backdrop-filter: blur(20px);
}

/* About More */

.about-hero-index {
  margin: 0;
}

.about-hero-content-one {
  background-image: url('../img/banner/aboutbg01.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.about-hero-content-two {
  background-image: url('../img/banner/aboutbg02.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.about-hero-content-three {
  background-image: url('../img/banner/aboutbg03.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}


.about-hero-content-one .content {
  width: 600px;
  display: grid;
}

.about-hero-content-two .content {
  width: 600px;
  display: grid;
}

.about-hero-content-three .content {
  width: 600px;
  display: grid;
}

/*------------------------------------------------ portfolio slider */

#portfolio {
  padding-top: 40px;
}

.slider {
  height: 50vh;
}

.portfolio .slider li {
  margin: 10px;
}

.portfolio .slider .slider-inner {
  width: 328px;
  height: 380px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
}

.portfolio .slider-2 .slider-inner {
  width: 328px;
  height: 380px;
  border-radius: 20px;
  background: #FFF;
}

.portfolio-slider .slider .slick-prev {
  display: none !important;
}

.portfolio-slider .slider .slick-next {
  display: none !important;
}

.portfolio-slider .slider-2 .slick-prev {
  display: none !important;
}

.portfolio-slider .slider-2 .slick-next {
  display: none !important;
}

.portfolio .slider .slider-inner img {
  border-radius: 10px 10px 0 0;
}


/*------------------------------------------------ Contact Section */


.contact {
  position: relative;
  text-align: center;
  color: white;
}

.contact-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.contact-hero .form {
  margin: 20px;
}

/* .form {
  display: flex;
  align-items: center;
} */

form .form-group{
  margin-top: 30px;
}

form .form-group .form-control{
  background-color: #EEE;
  border-radius: 20px;
  border: none;
}

form .btn{
  margin-top: 30px;
  background-color: #000;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: #ffffff;
}





/*------------------------------------------------ product Page  */

.product-content img {
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  min-width: 100%;
}

/* .product-content img:hover {} */

.product-content h3 {
  width: 100%;
}

/*------------------------------------------------ Facility Page  */

.Facility-content .row {
  padding-left: 0;
}

.Facility-index {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  margin: 20px;
  padding: px;
}

/*------------------------------------------------- Footer  */

.footer {
  padding: 40px;
  background-color: #000000;
  color: #ffffff;
}

footer section {
  margin: 0;
}