@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bentham&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--primary-color-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-family: var(--heading-font);
}

section {
  color: var(--default-color);
  background-color: var(--background-color);
  overflow: clip;
}

h2 {
  color: #ED1C24;
}

:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat", sans-serif;
  --nav-font: "Lato", sans-serif;
}

:root {
  --nav-color: #3a3939;
  --nav-hover-color: #e84545;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #e84545;
  --nav-dropdown-background-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
}

@media (max-width: 812px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: center;
  }
}

p {
  color: #171717;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.8px;
}



section {
  margin-bottom: 50px;
}

@media (max-width: 812px) {
  section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/*--- Image hover Effects
-----------------------------------------------*/

.image-zoom-effect {
  overflow: hidden;
}

.image-zoom-effect .image-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-zoom-effect:hover .image-holder {
  transform: scale(0.95);
}

.image-zoom-effect img {
  transform: scale(1);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.image-zoom-effect:hover img {
  transform: scale(1.1);
}



/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: #ffffff;
  color: var(--default-color);
  background-color: #000000;
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 9999;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: var(--secondary-color);
}

.header .navmenu .sub-logo {
  padding-left: 20px;
}

.header .navmenu .side-bar {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  padding-left: 10px;
  cursor: pointer;
}

@media (max-width: 984px) {
  .header .navmenu .side-bar {
    display: none;
  }
}

.header .btn-getstarted,
.header .btn-getstarted:focus {
  color: #fff;
  background: #000000;
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  color: var(--contrast-color);
  background: rgba(var(--primary-color-rgb), 0.85);
}

@media (max-width: 1200px) {
  /* .header .logo {
    order: 1;
  } */

  .header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 20px;
  }

  .header .navmenu {
    order: 3;
  }
}

/* Global Header on page scroll
------------------------------*/
.scrolled .header {
  --background-color: #ffffff;
  --secondary-color: #444444;
  --nav-color: #444444;
  --nav-hover-color: #e84545;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Global Scroll Margin Top
------------------------------*/
section {
  scroll-margin-top: 90px;
}

@media (max-width: 1199px) {
  section {
    scroll-margin-top: 66px;
  }
}

/* Home Page Custom Header
------------------------------*/
.index-page .header {
  --background-color: rgba(255, 255, 255, 0);
  --secondary-color: #ffffff;
  --nav-color: rgba(255, 255, 255, 0.515);
  --nav-hover-color: #ffffff;
}

/* Home Page Custom Header on page scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: #050505;
  --secondary-color: #444444;
  --nav-color: #444444;
  --nav-hover-color: #d83535;
}



/*--------------------------------------------------------------
# Navigation Menu

--------------------------------------------------------------*/
/* Desktop Navigation */


.navmenu {
  margin: auto;
  display: contents;
}

@media (max-width: 812px) {

  .navmenu {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: #ffffff;
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: #000000;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 1;
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #f11111;
    color: #ffffff;
  }


  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: #ffffff;
  }


  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }

  .navmenu .megamenu {
    position: static;
  }

  .navmenu .megamenu ul {
    margin: 0;
    padding: 10px;
    background: var(--nav-dropdown-background-color);
    box-shadow: 0px 0px 20px rgba(var(--default-color-rgb), 0.1);
    display: block;
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
  }

  .navmenu .megamenu ul li {
    flex: 1;
  }

  .navmenu .megamenu ul li a,
  .navmenu .megamenu ul li:hover>a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--nav-dropdown-color);
  }

  .navmenu .megamenu ul li a:hover,
  .navmenu .megamenu ul li .active,
  .navmenu .megamenu ul li .active:hover {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .megamenu:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dd-box-shadow {
    box-shadow: 0px 0px 30px rgba(var(--default-color-rgb), 0.15);
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    height: 100vh;
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(var(--default-color-rgb), 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: rgba(var(--primary-color-rgb), 0.1);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul,
  .navmenu .megamenu ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul,
  .navmenu .megamenu ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active,
  .navmenu .megamenu>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }

  .navmenu .sub-logo {
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  margin-top: 50px;
  top: 10%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 60px;

}

.overlay .closebtn:hover {
  color: #FFF;
}

.navbar-toggler {
  color: #ffffff !important;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*---------------------------------------------- 
 Inner Tab Content */

.overlay-index .tab-content {
  background-color: #00000000;
}

.overlay-index nav {
  margin-top: 50px;
}

/* .overlay-index:hover {} */

.overlay-index h1 {
  color: #ffffff;
  font-size: 60px;
}

.overlay-index .nav.nav-pills {
  position: inherit;
  transition: transform 1s ease-in-out;
}

.overlay .nav-pills .nav-link {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
}

.overlay .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #00000000;
  color: #e02626;
}

.overlay .nav-pills .nav-link.active {
  border-bottom: 1px solid #e02626;
}

.overlay .nav-pills .nav-link:hover {
  margin-top: 5px;
  color: #e02626;
}

.overlay-index .tab-content img {
  max-width: 100%;
  min-width: 100%;
  width: 250px;
  animation: mymove .5s linear;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  position: relative;
  border-radius: 10px;
}

@keyframes mymove {
  from {
    top: 50px;
  }

  to {
    top: 0px;
  }
}

.img__wrap {
  position: relative;
  text-align: center;

}

.img__wrap .h3 {
  bottom: 0;
}

.img__description {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #ed323894;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  top: 0;
}


.banner {
  top: 0;
}

.banner svg {
  position: relative;
  bottom: 200px;
  z-index: 999;
}

@media screen and (max-width: 1100px) {
  .banner svg {
    bottom: 140px;
  }
}

.mian-logo>span {
  font-size: 1.35em;
}

.main-header {
  z-index: 999;
}

hr.border-light {
  max-width: 100%;
  opacity: 0.9;
  animation: autowidth 3.5s 1;
}

@keyframes autowidth {
  0% {
    width: 0%;
    opacity: 1;
  }


  100% {
    width: 100%;
    opacity: 1;
  }
}


/* .carousel-Section */

.carousel-item {
  transition: transform 1s ease-in-out;
  height: 80vh;
}

.carousel-item .btn {
  border-radius: 50px;
  background: #171717;
  width: 209px;
  height: 50px;
  flex-shrink: 0;
  color: #ffffff;
}

.carousel-caption {
  top: 43%;
  transform: translate(0, -50%);
  bottom: auto;
  left: 15%;
  right: 0;
  width: 500px;
  opacity: 0;
  overflow: hidden;
  text-align: left;
  border-radius: 20px;
}

.carousel-caption {
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.01) 0%, rgba(104, 104, 104, 0.02) 100%);
  backdrop-filter: blur(20px);
}


.carousel-item.active .carousel-caption {
  animation: widthSlide 3.5s 1;
  opacity: 1;
  z-index: 999;
  width: 50%;
}

@keyframes widthSlide {
  0% {
    width: 0%;
    opacity: 0;
  }


  100% {
    width: 50%;
    opacity: 1;
  }
}

.carousel-caption h5 {
  font-size: 4em;
  /* -webkit-text-stroke: 2px #E2FADB; */
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  position: relative;
  width: fit-content;
  padding-right: 10px;
}

.carousel-caption h4 {
  color: #ED1C24;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
}

.carousel-caption h5:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  bottom: -20px;
  opacity: 1;
}

.carousel-item.active .carousel-caption h5:after {
  width: 10%;
  height: 4px;
  animation: titleCover 2.5s 1;
  opacity: 0;
}

@keyframes titleCover {
  0% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  20% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  30% {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  55% {
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    opacity: 1;
  }

  95% {
    left: 0;
    right: 0;
    width: 10%;
  }

  100% {
    left: 0;
    right: 0;
    width: 10%;
    opacity: 0.5;
  }
}

.carousel-caption p {
  font-size: 1.35em;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-caption * {
  white-space: nowrap;
}


@media screen and (max-width: 956px) {
  .carousel-inner {
    height: 70vh;
  }

  .carousel-caption h5 {
    font-size: 5em;
    margin: auto;
  }

  .carousel-caption h4 {
    font-size: 4em;

  }

}

@media screen and (max-width: 1100px) {
  .carousel-item.active .carousel-caption {
    width: 70%;
  }

  @keyframes widthSlide {
    0% {
      width: 0%;
      opacity: 0;
    }


    100% {
      width: 30%;
      opacity: 1;
    }
  }
}



.carousel-item>img {
  height: 80vh;
  object-fit: cover;
  transform: scale(1);
}

.carousel-item.active>img {
  transform: scale(4);
  animation: bgScale 200s 1;
}

@keyframes bgScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(4);
  }
}

.carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 40%);
  z-index: 99;
}


.carousel-indicators {
  right: 10px;
  left: auto;
  margin: 0;
  width: 25px;
  flex-wrap: wrap;
  bottom: auto;
  top: 45%;
  transform: translate(0, -50%);
  gap: 10px;
  z-index: 9999;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  border: none;
}

li.nav-item>a:after {
  content: '';
  position: absolute;
  height: 3px;
  background: white;
  left: 0;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  width: 85%;
  transition: 0.3s all ease-in-out;
}

li.nav-item>a.active:after,
li.nav-item>a:hover:after {
  bottom: 0;
  opacity: 0.8;
}

li.nav-item>a {
  position: relative;
}


@media screen and (max-width: 991px) {
  .carousel-caption h5 {
    font-size: 3.5em;
  }

  .carousel-caption p {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 3.5em;
  }

  .carousel-caption p {
    font-size: 1em;
    font-weight: 600;
  }

  .carousel-item img {
    height: 80vh;
  }

  .mian-logo>span {
    font-size: 1em;
  }

  .carousel-indicators {
    right: 0;
    bottom: 30px;
    left: 0;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    flex-wrap: nowrap;
    top: auto;
    transform: unset;
    width: auto;
    gap: 5px;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 575px) {
  .carousel-caption h5 {
    font-size: 2em;
  }

  .carousel-item img {
    height: 60vh;
  }

  .carousel-caption p {
    font-size: 0.75em;
  }

  .carousel-caption {
    width: 100%;
    opacity: 0;
  }

  .carousel-item.active .carousel-caption {
    animation: sample 2.5s 1;
    opacity: 1;
  }

  .carousel-caption * {
    white-space: unset;
    display: flex;
    justify-content: center;
  }

  @keyframes sample {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  .carousel-caption h5 {
    -webkit-text-stroke: 1px #E2FADB;
  }

  hr.border-light {
    max-width: 100%;
    animation: sample 2.5s 1;
  }
}

@media screen and (max-width: 480px) {
  .carousel-caption h5 {
    font-size: 1.45em;
  }

  .carousel-caption p {
    font-size: 0.7em;
  }

  .carousel-item img {
    height: 70vh;
  }
}

/* Hero Section */

/*---------------------------------------------- 
Hero Section======= */

#hero {
  margin-top: -190px;
}


.hero {
  max-width: 100%;
  height: 80vh;
  display: flex;
}

@media (max-width: 986px) {
  #hero {
    margin-top: -274px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1400px) {
  .hero {
    height: 50vh;

  }
}

.hero-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  color: #000000;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}

.hero-mobile {
  display: none;
}

.hero .hero-index {
  /* position: absolute; */
  margin: auto;
}

.hero-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.hero .hero-item {
  padding-left: 50px;
}

.hero img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1400px) {
  .hero img {
    max-width: 35%;
    height: auto;
  }
}

.hero .hero-item .img-2 {
  padding-top: 100px;
}

.hero .hero-item-info {
  margin-top: -70px;
}

.hero .img-4 {
  margin-top: -68px;
}

.hero p {
  text-align: justify;
}

@media (max-width: 812px) {
  .hero-colum {
    display: none;
  }

  .hero-col {
    display: block;

  }

  .hero-mobile {
    display: block;
    margin: 30px auto;
    padding: 20px;
  }

  .hero h1 {
    font-size: 50px;
  }

  .hero {
    margin: 0;
    height: 100vh;
  }


  .hero .hero-mobile {
    display: block;
    margin-top: 50px;
  }
}

/*---------------------------------------------- 
Service Section ======= */

/* .service {} */
#service {
  margin-bottom: 0;
}

.service ul {
  list-style: none;
}

.service .service-index {
  text-align: center;
}

.service .service-index span {
  color: #ED1C24;
}

.service-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: #000000;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .service-item {
    height: 80vh;
  }
}

.service-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-service-item {
  display: none;
}

.responsive-index {
  border-radius: 20px;
  margin: 10px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
}

.responsive-index .banner-btn {
  border-radius: 50px;
  background: #171717;
  color: #ffffff;
  text-align: center;
  margin: 20px;
}

.banner-btn .btn {
  color: #ffffff;
}

.responsive-item {
  padding: 30px;
}

@media screen and (max-width: 956px) {
  /* #service {
    margin-top: 32rem;
  } */

  .service-item {
    display: none;
  }

  .responsive-service-item {
    display: block;
  }
}

.nav.nav-pills {
  position: absolute;
  bottom: 5%;
  /* width: 60%; */
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;

}

@media (max-width: 1700px) {
  .nav.nav-pills {
    top: 55%;
  }
}

@media screen and (max-width: 1200px) {
  .nav.nav-pills {
    top: 52%;
  }
}

.tab-content {
  order: 1;
}

.tab-content img::after {
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.00) 0%, #0F0F0F 69.79%);
}

.service-item .nav-pills li {
  margin: 10px;
}

.service-item .nav-pills .nav-link {
  background-color: #fff;
  border-radius: 50px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.6px;
  width: 295px;
  height: 50px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #f50000;
  color: #fff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transform-origin: bottom;
}

.service-item .nav-pills .nav-link button {
  text-align: center;
}

.tab-item .btn {
  background-color: #ffffff;
  border-radius: 50px;
  color: #000;
}

.tab-item .btn:hover {
  background-color: #dd0f0f;
  border-radius: 50px;
  color: #fdfdfd;
}

.tab-item {
  position: relative;
}

.tab-content .tab-item img {
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.00) 0%, #0F0F0F 69.79%);
}

.tab-item-index {
  position: absolute;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: left;
  transition: linear .3s;
}

@media (max-width: 1400px) {
  .tab-item-index {
    left: 40%;
    width: 500px;
  }
}

@media (max-width: 1700px) {
  .tab-item-index {
    left: 30%;
    top: 80%;
    width: 500px;
  }
}

@media (max-width: 1800px) {
  .tab-item-index {
    left: 30%;
    top: 35%;
    width: 600px;
    height: 10vh;
  }
}

.tab-item-index h1 {
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  /* 44% */
  letter-spacing: 2px;
}

.tab-item-index p {
  color: #ffffff;
}

.tab-img {
  position: relative;
}

.tab-img::after {
  content: '';
  top: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.00) 39.27%, #000 100%);
}

.tab-img .tab-item-img {
  width: 100%;
}

/* Faq Section - Home Page
------------------------------*/

.faq .content h2 {
  font-weight: 400;
  font-size: 34px;
}

.faq .content p {
  font-weight: 200;
  font-size: 15px;
  color: #000000;
}

.faq .faq-container .faq-item {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 9px 15.4px 0px rgba(0, 0, 0, 0.055);
  overflow: hidden;
  border-radius: 10px;
}

.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 30px 0 0;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}

.faq .faq-container .faq-item h3 .num {
  color: var(--primary-color);
  padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
  color: var(--primary-color);
}

.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
  font-size: 16px;
  margin-bottom: 0;
  overflow: hidden;
  color: #000000;
}

.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
  color: var(--primary-color);
}

.faq .faq-container .faq-active h3 {
  color: var(--primary-color);
}

.faq .faq-container .faq-active .faq-content {
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
  transform: rotate(90deg);
  color: var(--primary-color);
}


/*---------------------------------------------- 
 Video Section */

.visual {
  position: relative;
}

.wrapper {
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  left: 46%;
  top: 36%;
}

@media (max-width: 980px) {
  .wrapper {
    left: 30%;
  }
}

.wrapper .circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #3c3;
  margin: auto;
  transform: scale(1, 1);
}

.wrapper .circle.pulse {
  animation-timing-function: ease;
  animation: pulse 2s infinite;
  background-color: #99e699;
}

.wrapper svg {
  fill: #279b27;
  stroke: #279b27;
  stroke-linejoin: round;
  stroke-width: 5;
  transition: all 0.3s;
}

.wrapper svg:hover {
  cursor: pointer;
  fill: #228722;
  stroke: #228722;
  transform: scale(1.2, 1.2);
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/*---------------------------------------------- 
Number count */

/* .count{
  background: #ED1C24;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

.counter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter-section h3 {
  font-size: 18px;
}

.counter-section span {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 980px) {
  .section4 {
    display: grid;
    height: auto;
  }
} */

.count {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #e21a1a;

}

.counters {
  padding: 20px;
  display: flex;
  align-items: center;
}

.counters span {
  font-family: 'Paprika';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 111%;
  display: inline-flex;
  color: rgb(255, 255, 255);
}

.counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

@media (max-width: 812px) {
  .count {
    height: 500px;
    width: 200px;
    padding: 10px;
    margin: auto;
  }

  .counters {
    display: block;
    align-items: center !important;
    justify-content: center;
  }
}

/*------------------------------------------------ Who we are */
.about {
  margin-top: 100px;
}

.about-more {
  padding-top: 40px;
}

.about-more img {
  border-radius: 20px;
}

.about-banner {
  position: relative;
}


.about-banner-item {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.about-banner-item h1 {
  color: #ffffff;
  font-size: 100px;
}

.btn-text {
  display: block;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  color: #ffffff;
}

.btn-text::after {
  content: "";
  position: absolute;
  bottom: -0.01em;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0.3) 50%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-text:hover::after {
  background-position: 0% 50%;
}

.about-banner-item {
  position: absolute;
  bottom: 0;
  width: 788px;
  height: 257px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(66, 66, 66, 0.01) 0%, rgba(104, 104, 104, 0.02) 100%);
  backdrop-filter: blur(20px);
}

@media (max-width: 980px) {
  .about-banner {
    margin-top: 70px;
  }

  .about-banner-item {
    width: 358px;
    height: 76px;
    bottom: 10%;
  }

  .about-banner-item h1 {
    color: #ffffff;
    font-size: 50px;
  }
}

/* About More */
.about-hero {
  margin-top: 50px;
}



.about-hero-index {
  margin: 0;
}

.about-hero-content-one {
  background-image: url('../img/banner/aboutbg01.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.about-hero-content-two {
  background-image: url('../img/banner/aboutbg02.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}

.about-hero-content-three {
  background-image: url('../img/banner/aboutbg03.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
}


.about-hero-index .content,
p {
  width: 600px;
  display: grid;
  color: #ffffff;
} 

.about-hero-index .content i {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/* .about-hero-content-two .content {
  width: 600px;
  display: grid;
}

.about-hero-content-three .content {
  width: 600px;
  display: grid;
} */
@media (max-width: 980px) {
  .about-hero .hero-index {
    display: none;

  }

  .about-hero-index .content {
    width: auto;
    margin-top: 50px;
    color: #fff;
  }

  .about-hero-content-one {
    height: 65vh;
    text-align: center;
    color: #fff;
  }

  .about-hero-content-two {
    height: 80vh;
    text-align: center;
    color: #fff;
  }

  .about-hero-content-three {
    height: 100vh;
    text-align: center;
    color: #fff;
  }
}

/*------------------------------------------------ portfolio slider */

#portfolio {
  margin-bottom: 0;
}

.slider {
  height: 50vh;
}

.portfolio .slider li {
  margin: 10px;
}

.portfolio .slider .slider-inner {
  width: 328px;
  height: 380px;
  border-radius: 20px;
  margin: 30px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.15);
}

.portfolio .slider-2 .slider-inner {
  width: 328px;
  height: 270px;
  border-radius: 20px;
  background: #FFF;
}

.portfolio-slider .slider .slick-prev {
  display: none !important;
}

.portfolio-slider .slider .slick-next {
  display: none !important;
}

.portfolio-slider .slider-2 .slick-prev {
  display: none !important;
}

.portfolio-slider .slider-2 .slick-next {
  display: none !important;
}

.slider-inner img {
  border-radius: 20px;
}

@media (max-width: 1700px) {
  .slider-inner img {
    width: 250px;
  }
}

@media (max-width: 1100px) {
  .slider-inner img {
    width: 220px;
  }
}

/* portfolio page style */

/* Portfolio Section
--------------------------------*/
/*
#portfolio {
 padding: 60px 0;
} */

@media (max-width: 980px) {
  #portfolio {
    padding: 0;
  }
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  font-size: 22px;
  color: #fff;
  line-height: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #007bff;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #007bff;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(40, 61, 80, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*------------------------------------------------ 
Contact Section */
#contact {
  margin: 0;
}

.contact {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contact-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.contact-hero .form {
  margin: 20px;
}

.contact-img .hero-index .img-1 {
  margin-left: -80px;
  margin-top: 120px;
}

@media (max-width: 812px) {
  .contact-img .hero-index .img-1 {
    display: none;
  }
}

/* Contact Section - Home Page
------------------------------*/
.contact .info-item {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 13px 18.8px 0px rgba(0, 0, 0, 0.25);
  transition: linear .2s;
}

.contact .info-item:hover {
  background: #cf1313;
  color: #fff;
}

.contact .info-item i {
  font-size: 38px;
  line-height: 0;
  color: var(--primary-color);
}

.contact .info-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #000000;
}

.contact .info-item p:hover {
  color: #ffffff;
}


/* .form {
  display: flex;
  align-items: center;
} */

form .form-group {
  margin-top: 30px;
}

form .form-group .form-control {
  background-color: #EEE;
  border-radius: 20px;
  border: none;
}

form .btn {
  margin-top: 30px;
  background-color: #000;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: #ffffff;
}

/* Call-to-action Section - Home Page
------------------------------*/


.call-to-action {
  --default-color: #ffffff;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  padding: 150px 0;
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  margin: 0;
}

.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.call-to-action:before {
  content: "";
  background: rgba(var(--background-color-rgb), 0.5);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .container {
  position: relative;
  z-index: 3;
}

.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}

.call-to-action p {
  color: var(--default-color);
}

.call-to-action .cta-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #ffffff;
  color: var(--contrast-color);
}

.call-to-action .cta-btn:hover {
  background: #dd0f0f;
  border: 2px solid #3b0303;
}


/*------------------------------------------------ product Page  */

#prdouct {
  margin-top: 100px;
}

.product-content img {
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  min-width: 100%;
}

.product-content {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 11px 23.6px 0px rgba(0, 0, 0, 0.10);
}

/* .product-content img:hover {} */

.product-content h3 {
  text-align: center;
  padding: 10px 20px 20px 20px;
}

.product-content a {
  text-decoration: none;
}

.product-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  height: 50px;
  width: 100%;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  transition: linear .2s;
}

.product-btn:hover {
  background-color: #ED1C24;
}

.product-btn i {
  font-size: 20px;
}

.services {
  margin: 50px;
}

.services .demo {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  transition: linear .2s;
  border-radius: 10px;
}

.services .demo:hover {
  margin: -2px;
}

.services p {
  color: #000000;
}

/*------------------------------------------------ Facility Page  */

.Facility-content .row {
  padding-left: 0;
}

.Facility-index {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  margin: 20px;
  padding: px;
}

.Facility-index img {
  width: 100%;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#spinner img {
  width: 60px;
}

#spinner .spinner-border {
  color: #F58220;
}

.spinner {
  background-color: #000000;
}

/*-----*/

/* Recent-posts Section - Home Page
------------------------------*/
.recent-posts {
  margin-top: 100px;
}

.recent-posts article {
  box-shadow: 0 4px 16px rgba(var(--default-color-rgb), 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.recent-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

.recent-posts .post-category {
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 10px;
}

.recent-posts .title {
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
  color: #000000;
}

.recent-posts .title a {
  color: var(--secondary-color);
  transition: 0.3s;
}

.recent-posts .title a:hover {
  color: var(--primary-color);
}

.recent-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.recent-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}

.recent-posts .post-date {
  font-size: 14px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  --background-color: #141313;
  color: #ffffff;
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-top .footer-links a {
  text-decoration: none;
}

.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

.footer .footer-about p {
  color: #ffffff;
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--default-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #e00909;
  border-color: var(--primary-color);
}

.footer h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: #ffffff;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #f70505;
}

.footer .footer-contact p {
  margin-bottom: 5px;
  color: #ffffff;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(var(--default-color-rgb), 0.05);
}

.footer .copyright p {
  margin-bottom: 0;
  color: #ffffff;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
  color: #ffffff !important;
}

.footer .credits a {
  color: #fff;
  text-decoration: none;
  transition: linear .2s;
}

.footer .credits a:hover {
  color: #10e750;
}


.hide {
  display: none;
}

.show {
  display: block;
}